<div class="container-fluid">
    <table class="table text-warning mt-3 table-bordered text-center">
        <thead class="m-0">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>username</th>
                <th>email</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Website</th>
                <th>Company</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let empobj of emp">
                <td>{{empobj.id}}</td>
                <td>{{empobj.name}}</td>
                <td>{{empobj.username}}</td>
                <td>{{empobj.email}}</td>
                <td><address>
                    street: {{empobj.address.street}} <br>
                    suite:  {{empobj.address.suite}} <br>
                    City:   {{empobj.address.city}}  <br>
                    Zipcode:    {{empobj.address.zipcode}}
                   </address>
               </td>
                <td>{{empobj.phone}}</td>
                <td>{{empobj.website}}</td>
                <td>
                    <address>
                        Company Name:{{empobj.company.name}} <br>
                        catchPhrase :{{empobj.company.catchPhrase}} <br>
                        bs:{{empobj.company.bs}}
                    </address>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- <p class="text-warning">URL -  {{users.support.url}}</p>
    <p class="text-warning">{{users.support.text}}</p> -->
</div>