<div class="card shadow">
    <img src={{productObj.productImage}} class="card-img-top w-50 mx-auto mt-2" height=200px alt="...">
    <div class="card-body">
      <h5 class="card-title text-center" style="color: #2596be;">{{productObj.productTitle}}</h5>
      <p class="card-text" style="font-size: 14px;color: #5f2e43;">{{productObj.description}}</p>
      <button href="#" class="btn btn-primary" style="float: right;" (click)="sendProductDetailsToParent(productObj.productTitle)">Book Now <i class="fas fa-shopping-cart"></i></button>
    </div>
  </div>