<div class="container mt-5">
    <div class="row">
        <div class="col-8">
            <h3 class="text-warning display-4">Crazy Stores</h3>
        </div>
    </div>
</div>

<!-- cards -->
<!-- <div class="card mb-3 container-fluid h-50" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://bd.gaadicdn.com/processedimages/bmw/s1000rr/494X300/s1000rr5e57677f61f20.jpg?tr=w-439" alt="..." width="100%" height="100%">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div> -->
<!-- carosel -->
<div class="w-100 h-50">
    <div id="carouselExampleFade" class="carousel slide carousel-fade mt-5 mb-5" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://images.unsplash.com/photo-1496181133206-80ce9b88a853?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80" class="d-block mx-auto" alt="..." height="300px" width="auto">
        </div>
        <div class="carousel-item">
          <img src="https://i.pinimg.com/originals/69/96/56/69965663f1231b946cd69ce89fd0f5d6.jpg" class="d-block mx-auto" alt="..." height="300px">
        </div>
        <div class="carousel-item">
          <img src="https://www.thechennaimobiles.com/image/cache/catalog/f19p-slr-600x600.jpg" class="d-block  mx-auto" alt="..." height="300px">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>

  <div class="container text-warning">
    <h3>About</h3>
    <p class="text-info text-lead" style="font-family: 'Satisfy', cursive;letter-spacing: 0.5px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium sequi placeat voluptatem, et, 
      perferendis architecto hic ut eaque laborum dolore deleniti illo ad ea eos a, incidunt assumenda voluptas nulla?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt quibusdam soluta fuga hic iste,
       vel doloribus blanditiis reprehenderit eligendi. Earum ad cupiditate reiciendis? Aperiam temporibus ullam omnis tempora deleniti odio?</p>
</div>